<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>20-Talet</h1> 
<p>Just nu beffiner vi oss i "20-Talet" och våran användning av datorer har ändrats drastiskt. Vi har ju tillexempel börjat använda våra datorer väldigt mycket mer till skolundervisning och arbete.
    Detta är pågrund av den pågående coronapandemin, denna pandemi har tvingat oss att inte beffinna oss på allmänna platser ibland andra människor. Detta har då tvingat oss att ta till andra medel för att utföra våra skol/arbertsuppgifter. 
    Ett av dessa medel är ju då självklart datorer, datorerna har möjliggjort för de flesta att fortsätta jobba eller gå i skolan. Självklart kommer det dyka upp ett o annat problem men det känns som att det har gått bättre än förväntat.
    Det kanske inte har gått perfekt men utan datorer hade detta varit omöjligt. 
</p>
</body>
</html>