<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <h1>60-Talet</h1>
    <h2> Sovjet vill också – här är alla ”internet” som aldrig förverkligas</h2>
    <h3>Det är inte bara i USA som planer smids för att konstruera ett större datornätverk. Samma idéer finns på flera
        håll i världen.</h3>
    <p>
        Året före JCR Licklider beskriver sina idéer om ett ”intergalaktiskt nätverk”, som senare kommer att utvecklas
        till det som är internet, presenterar ryssen Viktor Glushkov en liknande plan. Projektet heter OGAS (en
        förkortning som på svenska ungefär betyder ”hela statens automatiska system”), och påminner till stor del om
        internet.
    </p>
    <p>

        Redan 1959 har ett liknande projekt lagts ner (initierat av Anatolij Kitov), som syftade till att automatisera
        ekonomiska uppgifter, då militären varit oroliga för att de skulle behöva överlämna viktig information till
        civila ekonomiska planerare.
    </p>
    <p>

        OGAS är något annat och ska vara uppdelat i tre lager, tänker sig Viktor Glushkov. Nätverket ska styras från
        Moskva, med 200 centraler på medelnivå och 20 000 inkopplade datorer runt om i Sovjetunionen. Dessa ska kunna
        kommunicera med varandra decentraliserat – alltså utan att gå vägen via Moskva. Allt sammankopplat via
        telefonledningar.
    </p>
    <p>

        Visionerna är större än så, i framtiden vill han koppla ihop alla länder i Europa och Asien i nätverket. Varenda
        fabrik och vartenda kontor skulle var uppkopplat. Perfekt för en planekonomi, tyckte Glushkov. Genom nätverket
        skulle man även kunna göra betalningar, utan att använda fysiska pengar.
    </p>
    <p>
        Men projektet förverkligas inte, eftersom Viktor Glushkov i oktober 1970 helt enkelt inte får vidare
        finansiering till sin satsning. Finansministern säger nej. Då har amerikanarna redan startat Arpanet, som kommer
        att bli det vi i dag kallar internet. Glushkov arbetar vidare och föreslår nya, liknande, satsningar, men även
        dessa nobbas av kommunistpartiet.
    </p>
    <p>

        <img src="/ogas-504x459.png" alt="OGAS Logotyp">
    </p>


    <h1>70-Talet</h1>
    <h2>Arpanet blir äntligen ett internationellt nät – via Sverige</h2>
    <h3>Fram till 1973 har Arpanet bara varit en angelägenhet för amerikanska försvaret. Men i och med en koppling till
        Norge (via Sverige) kan man för första gången tala om ett internationellt nät. Internet, kort och gott.</h3>

    <p>
        Arpanet heter datornätverket som kommer att utgöra grunden i det vi numera kallar internet. Till en början är
        bara ett fåtal datorer inkopplade, men antalet växer i USA i början av 1970-talet.
    </p>
    <p>
        Det dröjer till den 15:e juni 1973 innan nätet blir internationellt. Den första dator utanför USA som kopplas in
        på Arpanet är norsk och den nås via satellit. Vad inte alla vet är att Sverige också har en roll i denna
        internethistoria. Den första internetkontakten går nämligen via markstationen i Tanum i Bohuslän, som sedan
        skickar vidare signalen till Norge och Norsar (ett forskningscentrum som grundats ihop med USA för att upptäcka
        jordbävningar och kärnvapenexplosioner).
    </p>
    <h4>Därför blir Norge först</h4>
    <p>
        Anledningen till att just vårt grannland blir först ut är de goda militära kontakterna norrmännen under dessa
        kalla krigs-år har med amerikanerna. Månaden efter får även en dator i Storbritannien kontakt med Arpanet.
    </p>
    <p>
        Namnet internet myntas snart, som vid tiden är en förkortning för ”internetworking”. TCP/IP-skaparen Vint Cerf
        skriver internet i en text 1974 och det anses vara då ordet kommer till faktiskt användning för första gången.
    </p>
    <img src="/img2.png" alt="Norsar Logotyp">


    <h1>80-Talet</h1>
    <h2>Nu binds Norden ihop när ministerrådet satsar på internet</h2>
    <h3>1985 väljer Nordiska ministerrådet att satsa på Nordunet, ett datornät som knyter samman de nordiska forsknings-
        och utbildningsnäten. Tack vare satsningen sker en snabb utveckling av internet i Norden.</h3>
    <p>
        Förändringen innebär att forskare nu kan skicka datorpost till kolleger över hela världen, och både sända och ta
        emot filer. Nätkapaciteten är 64 kbit/s.
    </p>
    <p>
        I Nordunet ingår Forskningsnettet i Danmark, Funet i Finland, RHnet på Island, Uninett i Norge och Sunet i
        Sverige. Nordunet kopplar snart upp sig mot forskningsnät i USA, vilket bidrar till allt bättre förbindelser
        över Atlanten.
    </p>
    <p>
        1989 inviger Nordunet det som kommer att bli den första delen av ett öppet internet utanför USA. Statsminister
        Ingvar Carlsson bjuds in för att inviga, men han avböjer. Även Aktuellt tackar nej till att bevaka händelsen, då
        de nyligen sänt ett inslag om dataintrång.
    </p>
    <p>
        1991 får Swipnet, som är Sveriges första kommersiella internetoperatör, utlandsförbindelse via Nordunet.
    </p>
    <p>
        Nordunet och de nationella forskningsnätverken anses så viktigt för internets utveckling att en av
        initiativtagarna, norrmannen Rolf Nordhagen, 2014 röstas in i Internet hall of fame.
    </p>
    <img src="/80-Talet.jpg"
        alt="Bild på hur det nordiska data nätet för forskning och utbildningsnäten är samman knutna">


    <h1>Monopolen faller – och Sverige får en kommersiell internetleverantör</h1>
    <h2>I slutet av 80-talet finns nätet sedan länge, men går inte att använda av vem som helst. Många företag och
        organisationer får gå via universitetsnätverket Sunet för att komma ut på nätet. Antalet blir snart för många.
        Dags att släppa nätet fritt!</h2>
    <p>
        Föreningen Swedish Network Users’ Society (SNUS) tar initiativet. Den första lösningen kallas Guerillanet
        (senare Basnät 90), och är tänkt att drivas av entusiaster. Men snart inser man att det behövs en mer hållbar
        lösning. Diskussioner först först mellan SNUS och Televerket, men myndigheten föredrar den så kallade
        X.25-tekniken, där de kan behålla kontrollen över kommunikationen. TCP/IP, med sitt decentraliserade upplägg, är
        raka motsatsen till hur telekommunikation bedrivits av staten.
    </p>
    <p>
        Frågan går då istället till Jan Stenbecks Comvik Skyport.
    </p>
    <h3>Stenbecks hektiska 80-tal</h3>
    <p>
        Att det blir just han som får frågan kräver en lite mer utvecklad beskrivning. Han har vid det laget gjort sig
        känd som utmanare av monopol. Redan 1979 startar han mobiloperatören Millicom, efter att ha inspirerats av
        tv-serien Get Smart, där skor kan knäcka extra som mobiltelefoner. Millicom har basen i USA och har som
        affärsidé att köpa upp andra länders mobiltillstånd.
    </p>
    <p>
        På hemmaplan tar Jan Stenbeck kommando över familjeföretaget Kinnevik, och skiftar fokus från pappers- och
        stålindustri till telekom, media och it. Genom Kinnevik köps företaget Företagstelefon AB upp, som byter namn
        till Comvik. 1981 ger regeringen bolaget tillstånd att automatisk koppla sina samtal till det fasta telenätet –
        något bara Televerket fått göra tidigare.
    </p>
    <p>
        Några år senare startar Jan Stenbeck Sveriges första kommersiella tv-kanal TV3 och utmanar monopolet i Sverige
        genom att sända från Storbritannien. Comvik (senare Tele 2) banar sedan vägen för den mobila utvecklingen. Så
        när har får förfrågan om att starta Sveriges första kommersiella internetleverantör blir svaret ja.
    </p>
    <h4>Nu blir internet en angelägenhet för företag</h4>
    <p>
        Avtalet undertecknas den 30 oktober 1990 av Bo-Erik Sandholm, SNUS ordförande, och Per Troberg, vd för Comvik
        Skyports. Nätet ska drivas av Swipnet AB (Swedish IP Networks), som är ett dotterbolag till Comvik skyport
        (sedermera Tele 2).
    </p>
    <p>
        Kunderna från Sunet har tidigare haft gratis anslutning. Nu får de räkningar skickade till sig. Större företag
        kan få en månadskostnad på 10 000 kronor, och en startavgift på 50 000 kronor. Ändå är Swipnet ett mycket litet
        företag. De anställda får plats i ett kök och modempooler installeras där man fick plats. Det är på vindar, hos
        kompisar och olika utrymmen man finner ute i landet.
    </p>
    <p>
        Sverige är ett annorlunda land vid den här tiden. Staten har fortfarande monopol på modem, och man får inte
        koppla in sig i statens telefonnät hur som helst. Men under dessa år – påhejat av regeringen Bildt – faller
        monopolen. Televerket blir Telia. Sverige får en kommersiell tv-kanal i marknätet (Tv4). Och modemen avregleras.
    </p>
    <h5>Televerket kommer igång året efteråt</h5>
    <p>
        I en intervju med Internetmuseum berättar dåvarande produktchefen Per-Olof ”POJ” Josefsson om sin tid på Swipnet
        (se en lång intervju med honom här):
    </p>
    <p>
        – Det var entusiasterna som körde det här, med motsvarande kvalitet. Det gör i alla fall att det kommer igång.
        Då förstod vi inte riktigt omfattningen av det här (internets framväxt), vi försökte bara få igång verksamheten.
    </p>
    <p>
        Hösten 1991 får Swipnet konkurrens från Televerkets Tipnet. Efter tre år har Swipnet ett positivt kassaflöde,
        men ändå läggs Swipnet AB ner och blev en del av Tele 2. Namnet lever dock vidare för kunderna i många år till.
    </p>
    <p>
        2014 går Tele 2 ut med att de ska stänga ner alla hemsidor som skapats via Swipnet. Dessa har dock räddats för
        eftervärlden genom Internetmuseum och IIS.
    </p>


    <h1>Flashback startar ett forum</h1>
    <h2>Flashback är ett diskussionsforum med nära en miljon medlemmar som skriver mer än femtontusen inlägg varje dag.
        Det har ungefär två miljoner besökare i veckan.</h2>
    <p>
        Från början är Flashback en punktidning, som efter ungefär tio år också blir en hemsida, 1995. Här kan du se hur
        det såg ut då:
    </p>
    <p>
        I en tid före sökmotorer bygger Flashback upp ett stort länkarkiv och hjälper sina läsare att hitta udda och
        ”moraliskt tvivelaktiga” webbplatser. Under några år finns det även en IRC-kanal och olika mejlinglistor. År
        2000 uppstår forumet ungefär så som det ser ut i dag med öppna diskussionsforum i stället för som tidigare –
        slutna grupper för medlemmar. Här diskuteras allt från husdjur och familjeliv till vetenskap, vapen och politik.
    </p>
    <p>
        Diskussionerna kan ibland vara kontroversiella och innehålla både skvaller om kändisar, främlingsfientliga
        åsikter och diskussioner om droger. En dom 2002 innebär att driften flyttas utomlands för att slippa hårda krav
        på moderering.
    </p>
    <p>
        Flashbacks höga tolerans för avvikande åsikter och hållningen till yttrandefrihet har ofta lett till debatt i
        traditionella medier. En uppmärksammad händelse på forumet var när en 21-årig man tog sitt liv i oktober 2010. I
        en egen tråd på Flashback beskrev mannen sina förberedelser och filmade sitt eget självmord till allmän beskådan
        – påhejad av vissa samtidigt som andra försökte övertala honom att inte göra det. Flashback kritiserades för att
        tråden inte stängdes ner tidigare och det råa klimatet i kommentarsfälten.
    </p>
    <p>
        Samtidigt har till exempel en tråd på Flashback som avslöjat att ett antal av naturfotografen Terje Hellesøs
        bilder var förfalskade nominerats till det journalistiska priset Guldspaden och även belönats med Sveriges
        radios pris Årets Medieorm. Det var även på Flashback som uppgifter om de senare mycket uppmärksammade
        våldtäkterna i Bjästa först publicerades.
    </p>
    <p>
        2020 blir podden Flashback Forever en av Sveriges mest lyssnade poddar. I podden går komikerna Ina Lundström och
        Emma Knyckare tillsammans med anonyma ”Scroll-Mia” igenom Flashbacks myllrande trådar och diskuterar diverse
        obskyra och udda fynd. Givetvis har podden även fått en egen Flashback-tråd.
    </p>
    <img src="/Flashback Logotyp.jpg" alt="Flashbacks Logotyp">

    <h1>Varken dator eller telefon: nu gör surfplattan debut</h1>
    <h2>Det har pratats om den länge, men när vd:n Steve Jobs presenterar Apples nya produkt Ipad är det ändå många som
        blir förvånade. En del undrar vem som ska köpa den? Är det en stor telefon eller en liten dator?</h2>
    <p>
        Något namn för företeelsen finns inte i Sverige, eftersom Ipad är ensam på marknaden. Men när andra företag
        lanserar egna varianter, så som Samsung Galaxy Tab, blir namnet på pekdatorn surfplatta (tablet på engelska).
    </p>
    <p>
        Surfplattornas allra mest regelbundna användare blir barnen. 88,5 procent av svenska barn i åldrarna 7-15 år har
        2015 tillgång till en surfplatta i hemmet. Favoritsysslan på nätet är att titta på rörlig bild. Surfplattorna
        blir också ett vanligt inslag på förskolor och i skolan – där pedagogiska appar gärna används.
    </p>
    <p>
        Flera tidigare försök har gjorts att lansera surfplattor. Redan 1998 utvecklade Intel sin Intel-Pad, som hade en
        stor skärm och några få knappar. Den var dock tänkt att användas intill en PC. Palm Pilot och Microsofts Pocket
        PC 2000 är två andra produkter som inte riktigt fick samma genomslag som Ipaden.
    </p>
    <img src="/Ipad Introducing.jpg" alt="Steve Jobs introduktion till iPaden">




</body>

</html>