<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Apache Roller</h1>
    <p>Apache Roller is a Java-based open-source "full-featured, Multi-blog, Multi-user, and group-blog server suitable for blog sites large and small". Roller was originally written by Dave Johnson in 2002 for a magazine article on open source development tools,[4] but became popular at FreeRoller.net (now JRoller.com) and was later chosen to drive the employee blogs at Sun Microsystems, Inc. and IBM developerWorks blogs.[2]

        On April 23, 2007, Roller project graduated from incubator, so it became an official project of the Apache Software Foundation and it was released 3.1 version, first official release.
    </p>
    <p>   
        Developer(s)	Apache Software Foundation
        table release	
        5.2.2[1] / 2019-01-11[±]
        Repository	Roller Repository
        Written in	Java
        Operating system	Cross-platform
        Type	Weblog server
        License	Apache License 2.0[2]
        Website	roller.apache.org
    </p>
        
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/48/Apache_Roller_Logo.svg/250px-Apache_Roller_Logo.svg.png" alt="Apache Roller">
    
</body>
</html>



