<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Internet</h1>
    <div class="nav">   <ul> 
      <div>
        <p class="Hej"> <a href="HistoriskaHändelser.html">InternetMuseet</a></p>
        <p class="Hej"> <a href="20-talet.html">20-Talets Dataanvändning</a></p>
        <p class="Hej"> <a href="roller.html">Apache Roller</a></p>
        <p class="Hej"> <a href="dspace.html">DSpace</a></p>
       
      </div>  
      
        


    
</body>
</html>